{% extends "base.html" %}

{% block title %}
Online Market OG - About
{% endblock %}

{% block body %}
<div class="text-center">
    <h3>მოგესალმებით ეს არის About- ის გვერდი</h3>
</div>
<hr>
<h5>აქ გაეცნობით ჩემი web-Site -ის მიზანს. ეს არის ონლაინ მარკეტი სადაც დისტანციურად შეძლებთ თქვენი სასურველი ნივთის
    ყიდვას და ასევე მინდათ გითხრათ,რომ საიტი დასპონსორებულია "TBC Tech School" - ის მიერ.</h5>
<style>
    .rounded-img {
        margin-top: 20px;
        border-radius: 9px;
    }
</style>

<div class="row bg-white rounded shadow product-details"></div>
<div class="text-center">
    <a href="https://tbceducation.ge" target="_blank">
        <img src="/static/Images/89883.jpg" alt="Slide 1" class="img-fluid rounded-img" width="300px">
    </a>
</div>
<hr>
<div class="text-center">
    <h6>დააწკაპეთ ფოტოს (TBC ლოგოს) და გადადით tbceducation- ის გვერდზე და თქვენც მიიღეთ მსგავს პროექტებში მონაწილეობა</h6>
</div>
{% endblock %}