{% extends "base.html" %}

{% block title %}
Online Market OG - Home
{% endblock %}

{% block body %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<style>
  .product-card {
    width: 240px;
    margin: 15px;
  }

  .card-img-top {
    height: 110px;
    object-fit: cover;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: rgb(206, 246, 249, 0.650);
    margin: 0;
    padding: 0;
  }

  .product-details {
    margin-top: 20px;
  }

  .rounded-img {
    margin-top: 20px;
    border-radius: 9px;
  }
</style>

<div class="row bg-white rounded shadow product-details"></div>
<div class="text-center">
  <img src="/static/Images/Banner.jpn.png" alt="Slide 1" class="img-fluid rounded-img" width="800px">
</div>
<hr>
<div class="container my-4">
  <div class="row">
    {% for product in products %}
    <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
      <div class="product-card card bg-white rounded shadow">
        <img src="/static/Images/{{ product['img'] }}" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product['name'] }}</h5>
          <hr>
          <h6 class="card-subtitle mb-2 text-muted">{{ product['price'] }} ₾</h6>
          <a href="/product/{{ product.id }}" class="btn btn-warning btn-block">ნახვა</a>
          <hr>

          {% if current_user.role == "Admin" %}
          <a href="/delete_product/{{ product.id }}" class="btn btn-danger btn-block">წაშლა</a>
          <a href="/edit_product/{{ product.id }}" class="btn btn-primary btn-block">რედაქტირება</a>
          {% endif %}

          {% if current_user.role == "Moderator" %}
          <a href="/edit_product/{{ product.id }}" class="btn btn-primary btn-block">რედაქტირება</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}